body {
    font-family: 'Noto Serif', serif;
    background-color: hsl(37, 88%, 73%);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.background-container {
    z-index: -9;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: url("./eamonma.png");
        background-size: 40px;
        transform: rotate(-45deg) scale(2.5);
        // animation-name: rotate;
        animation-duration: 24s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

// @keyframes rotate {
//     0% {
//         transform: rotate(-48deg) scale(2.5);
//     }

//     50% {
//         transform: rotate(-50deg) scale(2.5);
//     }

//     100% {
//         transform: rotate(-48deg) scale(2.5);
//     }
// }

@media (prefers-reduced-motion: reduce) {
    .background-container {
        .background {
            animation: none;
        }
    }
}

h1 {
    opacity: 0;
}


.social ul:hover li {
    opacity: 0.5;
}

.social ul li:hover {
    opacity: 1;
}

.social ul>li {
    margin: 0 1em;
}

.social ul>li,
.social ul>li>a {
    display: block;
    height: 3.9em;
    width: 3em;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.social ul>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.social ul>li>a:hover::after {
    opacity: 1;
}

.social ul {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    li {
        margin: 0;
        padding: 0;
        width: 50vw;
        height: 50vh;
        display: flex;

        a {
            margin: auto;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: 60px;
            display: flex;
            text-decoration: none;

            &::after {
                content: "";
                position: absolute;
                // top: 0;
                // left: 0;
                width: 100px;
                height: 100px;
                background-color: white;
                border-radius: 50%;
                opacity: 1;
                transition: opacity 0.2s ease-in-out;
                z-index: 1;
            }

            &:hover::after {
                opacity: 0;
            }

            .hidden {
                position: absolute;
                width: 70px;
                height: 70px;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
        }

        &:hover {
            background: rgba($color: #E0E7F5, $alpha: 0.9);
            backdrop-filter: blur(5px);
        }
    }
}

.hidden {
    color: rgba(0, 0, 0, 0);
}

.github a {
    &::after {
        right: 20px;
        bottom: 20px;
    }

    .hidden {
        // content: "";

        bottom: 35px;
        right: 35px;
        background-image: url("assets/github.png");
        // background: none;}
    }
}

.email a {
    &::after {
        left: 20px;
        bottom: 20px;
    }

    .hidden {
        bottom: 30px;
        left: 30px;
        transform: scale(0.85);
        background-image: url("assets/email.png");
    }
}

.instagram a {
    &::after {
        right: 20px;
        top: 20px;
    }

    .hidden {
        top: 35px;
        right: 35px;
        transform: scale(0.9);
        background-image: url("assets/instagram.png");
    }
}

.linkedin a {
    &::after {
        left: 20px;
        top: 20px;
    }

    .hidden {
        top: 35px;
        left: 35px;
        transform: scale(0.8);
        background-image: url("assets/linkedin.png");
    }
}

// .social {
//     margin-top: 1em;
// }

@media (hover: none) {
    .social ul {
        li {
            a {
                &::after {
                    // display: none;
                    z-index: -1;
                }
            }

            &:hover {
                background: none;
            }
        }

        &:hover li {
            opacity: 1;
        }
    }
}

// line {
//     shape-rendering: geometricPrecision;
// }